@model AuctionWebApplication.Models.AuctionItemModel

<h2>Details for item with number @Model.ItemNumber</h2>

<form asp-controller="Auction" asp-action="Details" method="post">
    Name: <input asp-for="BidCustomName" /> <br />
    <span asp-validation-for="BidCustomName"></span><br />
    Phone: <input asp-for="BidCustomPhone" /> <br />
    <span asp-validation-for="BidCustomPhone"></span><br />
    Price: <input asp-for="BidPrice" /> <br />
    <span asp-validation-for="BidPrice"></span><br />
    <label asp-for="BidTimeStamp"></label>: @Model.BidTimeStamp <br />
    <label asp-for="ItemDescription"></label>: @Model.ItemDescription <br />
    <label asp-for="ItemNumber"></label>: @Model.ItemNumber <br />
    <label asp-for="RatingPrice"></label>: @Model.RatingPrice <br />
    <button type="submit">Save</button>
</form>
