@model List<AuctionItemModel>

<h2>My Auctions</h2>
<table style="width:100%">
    <tr>
        <th>BidPrice</th>
        <th>BidTimeStamp</th>
        <th>ItemDescription</th>
        <th>ItemNumber</th>
        <th></th>
    </tr>
    @{
        foreach (AuctionItemModel item in Model)
        {
            <tr>
                <td>@item.BidPrice</td>
                <td>@item.BidTimeStamp</td>
                <td>@item.ItemDescription</td>
                <td>@item.ItemNumber</td>
                <td>
                    <a>
                        @Html.ActionLink("Select", "Details", "Auction", new { itemNumber = item.ItemNumber })
                    </a>
                </td>
            </tr>
        }
    }
</table>
<br />
<a>@Html.ActionLink("Back", "Index", "Auction")</a>